* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

a {
    color: aliceblue;
}

#user {
    background-color: #17A2B8;
    width: 400px;
    height: auto;
    float: right;
}

#container {
    margin: 0;
    width: 70%;
    float: left;
}